{% extends 'base.html' %}

{% block content %}
<!--index.html-->
{% if object_list %}
<h3>List of To Do</h3>
{% endif %}
<p>
    <input
        value="+ Add a new ToDo"
        type="button"
        onclick="location.href='{% url "add-To-Do" %}'"/>
</p>
<ul>
    {% for todolist in object_list %}
    <li>
        <div>
            {{ todolist.title }}
        </div>
        <input value="Delete" type="button" onclick="location.href='{% url "delete-To-Do" todolist.pk %}'" />
    </li>
    {% empty %}
    <h4>There is no To Do at the moment</h4>
    {% endfor %}
</ul>

{% endblock %}